<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/profile" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Websites
            </a>
            <p class="navbar-text pull-right">
                <a href="#/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    {{websites}}

    <ul class="list-group">
        <li ng-repeat="website in websites" class="list-group-item">
            <a href="#">{{website.name}}</a>
            <a href="#/website/123">
                <span
                class="glyphicon glyphicon-cog pull-right">

                </span>
            </a>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-text pull-right">
            <div class="col-xs-3">
                <a href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>

        </div>
    </div>
</nav>
