.list-group{
    padding-top: 20px;
}

.form1{
    padding-top: 20px;
}

#description{
    height: 100px;
}

.btn{
    width: 100%;
}
.full-width{
    width: 100%;
}

.container{
    padding-top: 65px;
}

.navbar-default{
    background-color: #33b5e5;
}

a.navbar-brand {
    color: white;
}



.glyphicon-chevron-left, .glyphicon-play, .glyphicon-eye-open{
    margin-left: 15px;
}

.glyphicon-plus {
    margin-right: 15px;
}

.glyphicon-chevron-left, .glyphicon-ok, .glyphicon-plus, .glyphicon-user, .glyphicon-play, .glyphicon-eye-open{
    color:white;
}
.container-landscape{
    margin-top: 50px;
}
.list-group-pushed-down{
    margin-top: 50px;
}

.form-group-pushed-down{
    margin-top: 65px;
}

.form1{
    margin-left: 15px;
}
.right-bor{
    border-right-color: black;
}

.h1{
    background-color: red;
}



