
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class=" navbar-text pull-left">
            <a href="../page/page-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="widget-choose.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container container1">
    <div class="row">
        <div class ="col-xs-6 ">
        <h1>Gizmodo</h1>
        </div>
        <div class ="col-xs-6 pull-right">
            <a href="widget-heading.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
        </div>
    </div>
    <div class="row">
        <h3>Gizmodo</h3>
        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    <div class="row">
        <a href="widget-image.view.client.html"><img class="full-width" src="Images/jcm.jpg" alt="John mayer"></a>
        <a href="widget-image.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    <div class="row">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    <div class="row">
        <h3>Gizmodo</h3>
        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    <div class="row">
        <a href="widget-youtube.view.client.html">
            <iframe class="full-width" src="https://www.youtube.com/watch?v=EEzfgDSqOEE"></iframe>
        </a>
        <a href="widget-youtube.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    <div class="row">
        <p>The Rogue River in southwestern Oregon in the United States flows 215 miles (346 km) generally westward, from the Cascade Range to the Pacific Ocean. With salmon runs, whitewater rafting, and rugged scenery, it was one of the original eight rivers designated for protection by the Wild and Scenic Rivers Act of 1968. Beginning near Crater Lake, which occupies the caldera left by the explosive volcanic eruption of Mount Mazama, the river flows through the geologically young High Cascades, the older Western Cascades, and the ancient Klamath Mountains.</p>
        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
    </div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container2">
        <div class="row navbar-text">
            <div class="col-xs-1 pull-left">
                <a href="#">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </div>
            <div class="col-xs-1 pull-left">
                <a href="#">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
            <div class="col-xs-3 pull-right">
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>

        </div>
    </div>
</nav>
